
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
    <th>Nombre</th>
    </thead>
    <tbody>
        @foreach (Dominio.Usuario usuario in Model)
        {
            <tr>
                <td>@usuario.Mail</td>
            </tr>
        }
    </tbody>
</table>

