
@{
    ViewData["Title"] = "MostrarPerfil";
}

<h1>MostrarPerfil</h1>
@TempData["Mensaje"]
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>

    </tbody>
</table>